/* Base styles */
menu, ol, ul {
    padding:0;
}
ul, dl {
    margin:0;
}
li {
	list-style: none;
}
hr {
	border: 1px solid lightgray;
	border-top: none;
}
input[type=submit] {}
input[type=file] {
    min-width: 350px;
}
input[type=text], input[type=password], select, textarea {
    border: 1px solid #ccc;
    padding: 6px 7px;
}
select {
    padding: 6px 2px;
}
p, pre {
	/*margin: 0;*/
}

/* CSS shortcuts for RedCMS */
.redcms-clear {
    clear:both;
}
.redcms-center {
    text-align:center;
}
.redcms-hidden {
    display:none;	
}

/* CSS BASE CLASSES FOR REDCMS */
.redcms-small {
    color: gray;
    font-size: 13px;
    font-style: italic;
    font-weight: normal;
}

/* Fluid Grids layout */
.redcms-layout {
    padding-left: 200px; /* allow for left column (#nav) */
    padding-right: 10px;
}
.redcms-left {
    margin-left: -200px;
    width: 200px;	/* workaround for IE9 not firing mouse events on #side due to negative margin */
}
.redcms-left .redcms-content {
    margin: 0 10px;
}
.redcms-bd {
    width:100%;
}
.redcms-hd {
    border: 1px solid gray;
    margin: 10px 8px 5px 10px;
    text-align: right;
    font-weight: 900;
    font-size: 36px;
    padding: 0 8px;
    font-variant: small-caps;
}
.redcms-bd .redcms-bd-content {	
    border: solid 1px gray;
}
.redcms-bd .redcms-bd-title {
    padding: 4px;
    background:#D1D8DF;
    border: solid 1px gray;
    border-bottom: none;
}
.redcms-bd .redcms-bd-content {
    padding: 8px;
    min-height: 280px;
}
.redcms-ft .redcms-ft-content {
    text-align: center;
    font-size: 8pt;
    font-style: italic;
}
.redcms-ft .redcms-ft-content hr {
    margin: 10px 10px 0;
}

/* Default fieldset view */
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}
fieldset legend {
    font-weight: bold;
}
.redcms-user fieldset {
    border: 1px solid lightgray;
    margin: 0.5em;
    padding: 0.8em;
    text-align: justify;
}

/* Panel styles */
.yui3-skin-sam .yui3-panel-content {
    border: 1px solid #a40000;
    /* box-shadow: none; */
    /* border: none; */
}
.yui3-skin-sam .yui3-panel .yui3-widget-hd {
    background: none;
    color: #A40000;
    font-size: 186%;
    padding: 8px 15px 2px 15px;
}
.yui3-skin-sam .yui3-panel .yui3-widget-hd .yui3-widget-buttons {
    padding: 15px;
}
.yui3-skin-sam .yui3-panel .yui3-widget-hd .yui3-button-close {
    width: 22px;
    height: 23px;
    border: 1px solid white;
}
.yui3-skin-sam .yui3-panel .yui3-widget-hd .yui3-button-close:hover {
	border: 1px solid #a40000;
} 
.yui3-skin-sam .yui3-panel .yui3-widget-hd .yui3-button-close:before {	
	content: url(icon-close.png);
    font-size: 23px;
    color: #A40000;

	vertical-align: middle;

	margin-top: 0px;
	width: 19px;
	height: 28px;
}
.yui3-skin-sam .yui3-panel .yui3-widget-bd {
    padding: 10px 15px 20px;
}
.yui3-skin-sam .yui3-dd-draggable .yui3-widget-hd {
    cursor:move;
}

/* Button style */
.yui3-button {
    border: none;
    box-shadow: none;
    padding: 0.5em 1em 0.55em;
    background: #a40000;
    color: white;
}

/** RedCMS Buttons (base on YUI2 Buttons for styling) */
.yui3-redcms-button {
    display: inline-block;
    vertical-align: text-bottom;
    border-width: 1px 0;
    border-style: solid;
    border-color: gray;
    background: url(sprite.png) repeat-x 0 0;
    margin: auto 0;
    cursor:pointer;
}
.yui3-redcms-button span {
    border-width: 0 1px;
    border-style: solid;
    border-color: gray;
    margin: 0 0px;
    display: block;
    _margin: 0;
}
.yui3-redcms-button span a {
    padding: 0 10px;
    font-size: 93%;
    line-height: 2.4;
    min-height: 2em;
    color: black;
    text-decoration: none;
}
.yui3-redcms-button span a.yui3-redcms-button-add {
    padding: 3px 10px;
    padding-left: 2.5em;
    background: url(redcms-sprite.png) no-repeat scroll 9px -59px;
}
.yui3-redcms-button:hover {
    border-color: #7D98B8;
    background-position: 0 -1300px;	
}

/* Loading style */
.yui3-skin-sam .yui3-redcms-loading,
.yui3-skin-sam .yui3-overlay-window  .yui3-redcms-loading {
    background: url(loading.gif) no-repeat scroll center center;
    min-height: 100px;
    min-width: 100px;
}
.yui3-skin-sam .yui3-redcms-loading .yui3-redcms-loading {
    background: none;
}
.yui3-redcms-loading-overlay {
    position:relative;
}
.yui3-redcms-loading-overlay div{
    position: absolute;
    width: 100%;
    background: rgb(211, 211, 211);/* Fallback for web browsers that doesn't support RGBa */
    background: rgba(255, 255, 255, 0.8); /* RGBa with 0.6 opacity */
    background-image:url('loading.gif');
    background-repeat:no-repeat;
    background-position-x: center; 
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#D3D3D300, endColorstr=#D3D3D300); /* For IE 5.5 - 7*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#D3D3D300, endColorstr=#D3D3D300)"; /* For IE 8*/
    background-position-y: 50px;
}

/* Inputex styles */
.yui3-skin-sam div.inputEx-label {
    padding-top: 7px;
}
.yui3-skin-sam .inputEx-Button {
    border: none;
    padding: 7px 15px;
    background:#a40000;
    color: white;
    margin-top: 10px;
    font-size: 15px;
    margin-right: 5px;
}
.yui3-skin-sam .inputEx-Button + .inputEx-Button {
    background: lightgray;
    color: black;
}
.yui3-skin-sam .inputEx-Button:hover {
    background: gray;
}

/* Tinymce */
.defaultSkin td.mceToolbar {
    background: none !important;
}
.defaultSkin .mceButton, .defaultSkin .mceSplitButton a.mceAction, .defaultSkin .mceSplitButton a.mceOpen{
    border: 1px solid transparent !important;
}
.yui3-skin-sam .defaultSkin .mceSeparator {
    background: none;
    background: #ccc;
    width: 1px;
}
.yui3-skin-sam .defaultSkin .mceStatusbar {
    background: white;
    height: 12px;    
}
.yui3-skin-sam .defaultSkin .mceStatusbar a.mceResize {
    background-position-y: -8px;
    height: 13px;
}
.defaultSkin .mceStatusbar div {
    display: none;
}
.defaultSkin .mceListBox .mceText {
	border-right: 0 !important;
}
.defaultSkin .mceListBox .mceOpen {
	border-left: 0 !important;
}

/* RedCMS MsgBox styles */
.yui3-skin-sam .yui3-redcms-msgbox {
    border: 1px solid lightgray;
    padding: 15px 10px 10px 60px;
    margin-bottom: 20px;
    min-height: 33px;
}
.yui3-skin-sam .yui3-redcms-msgbox-error {
    background: url(icon-error-48.png) no-repeat scroll 5px 5px;
}
.yui3-skin-sam .yui3-redcms-msgbox-success {
    background: url(icon-success-48.png) no-repeat scroll 5px 5px;
}
.yui3-skin-sam .yui3-redcms-msgbox-warning {
    background: url(icon-warning-48.png) no-repeat scroll 5px 5px;
}
.yui3-skin-sam .yui3-redcms-msgbox-hidden {
    display:none;
}
/* Over menu styles */
.yui3-skin-sam .yui3-overmenu {
    position: absolute;
    z-index: 10000; 
}
.yui3-skin-sam .yui3-overmenu .yui3-menu-horizontal > div > ul > li {
    margin: 0;
    float: right;   
    display:inline;
}
.yui3-skin-sam .yui3-overmenu .yui3-menu-horizontal > .yui3-menu-content{
    background: none;
    border: none;
    margin: 4px 5px 0 0;
}
.yui3-skin-sam .yui3-overmenu .yui3-menu-horizontal > .yui3-menu-content > ul > div > li > a,
.yui3-skin-sam .yui3-overmenu .yui3-menu-horizontal > .yui3-menu-content > ul > li > a {
    margin: 0;
    background: white;
    border-radius: 34px;
    padding: 6px 12px 7px 3px;
    border: none;
    margin-left: 2px;
    font-size: 0%;
    width: 17px;
    height: 19px;
}
.yui3-skin-sam .yui3-overmenu .yui3-menu-horizontal > .yui3-menu-content > ul > li.yui3-menuitem-active > a,
.yui3-skin-sam .yui3-overmenu .yui3-menu-horizontal > .yui3-menu-content > ul > li > a.yui3-menu-label-active {
    background: lightgray;
}
.yui3-skin-sam .yui3-overmenu .yui3-menu-horizontal > .yui3-menu-content i {
    font-size: 21px;
    margin: 0;
    color: #a40000;
}
.yui3-skin-sam .yui3-overmenu-hidden {
	display:none;    
}
.yui3-skin-sam .yui3-overmenu .yui3-overmenu-small > div {
	margin: 1px 2px 0 0 !important;	
}
.yui3-skin-sam .yui3-overmenu .yui3-overmenu-small > div > ul > li > a {
	width: 15px !important;
	height: 17px !important;
	padding: 4px 9px 4px 2px !important;
}
.yui3-skin-sam .yui3-overmenu .yui3-overmenu-small > div > ul > li > a > i {
	font-size: 18px !important;
}
/* Admin overlay */
.yui3-skin-sam .redcms-admin-over {
    box-shadow: inset 1px 1px 1px #580000,
        inset -1px -1px 1px #580000; 
}

/* Context menu styles */
.yui3-skin-sam .yui3-contextmenu {
    position: absolute;
}
.yui3-skin-sam .yui3-contextmenu-hidden {
    display:none;
}
.yui3-menu-shadow {			
    position: absolute;
    z-index: -1;		
    top: 2px;
    left: -3px;
    background-color: #000;
    opacity: .12;
    filter: alpha(opacity=12);	/*	For IE since it doesn't implement the CSS3 "opacity" property. */
    padding: 1px 3px 0 3px;
    width: 100%;
    height: 100%;
}

/* Admin Menu */
.yui3-skin-sam .redcms-ft .yui3-redcmsnavmenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 238px;
}
.yui3-skin-sam .redcms-ft .yui3-redcmsnavmenu .yui3-menu-hd {
    display: inline-block;
    float: left;
    color: #a40000;
    padding: 4px 4px 0px 10px;
    font-weight: bold;
}
.yui3-skin-sam .yui3-menu i {
    margin-left: -4px;
}
.yui3-skin-sam .yui3-menu-horizontal .yui3-menu-content {
    background: white;
    border: 1px solid #a40000;
    border-left: 0;
    border-top: 0;
}
.yui3-skin-sam .yui3-menu-horizontal .yui3-menu-label {
    background: white;
    color: #A40000;
    border-color: #A40000;
    padding: 4px 8px;
}

/* Custom Icons */
.yui3-redcms-icon {
    width: 20px;
    height: 16px;
    display: inline-block;
    margin-top: -5px;
    background: url(file-icons.png) no-repeat scroll 0px -109px;
    margin-right: 4px;
    padding-top: 0px;
    line-height: 0;
    vertical-align: middle;
}
.yui3-redcms-icon-jpg,
.yui3-redcms-icon-gif,
.yui3-redcms-icon-jpeg,
.yui3-redcms-icon-png {
    background: url(file-icons.png) no-repeat scroll 0px -240px;
}
.yui3-redcms-icon-pdf {
    background: url(file-icons.png) no-repeat scroll 0px -272px;
}
.yui3-redcms-icon-sql {
    background: url(file-icons.png) no-repeat scroll 0px -440px;
}
.yui3-redcms-icon-user {
    background: url(file-icons.png) no-repeat scroll 0px -350px;
}
.yui3-redcms-icon-html {
    background: url(file-icons.png) no-repeat scroll 0px -320px;
    /* background: url(file-icons.png) no-repeat scroll 0px -575px; */
}
.yui3-redcms-icon-folder {
    background: url(file-icons.png) no-repeat scroll 1px -527px;
}
.yui3-redcms-icon-ppt,
.yui3-redcms-icon-pptx {
    background: url(file-icons.png) no-repeat scroll 1px -470px;
}
.yui3-redcms-icon-doc,
.yui3-redcms-icon-docx {
    background: url(file-icons.png) no-repeat scroll 1px -500px;
}
.yui3-redcms-icon-xsl,
.yui3-redcms-icon-xslx {
    background: url(file-icons.png) no-repeat scroll 1px -553px;
}
.yui3-redcms-icon-swf {
    background: url(file-icons.png) no-repeat scroll 1px -602px;
}
/** ToolTip Styles **/
.redcms-tooltip-content {
    display:none;
}
.yui3-redcms-tooltip {
    position:absolute;
}
.yui3-redcms-tooltip-content {
    border: 1px solid #580000;
    padding: 3px;
    background: white;
    font-size: 0.9em;
}
.yui3-redcms-tooltip img {
    max-width: 200px;
}
.yui3-redcms-tooltip-hidden {
    visibility:hidden;
}

/** MenuNav styles */
.yui3-skin-sam .yui3-menuitem-content, 
.yui3-skin-sam .yui3-menu .yui3-menu .yui3-menuitem-content {
    cursor:pointer;
}
.yui3-skin-sam .yui3-menu-label, .yui3-skin-sam .yui3-menu .yui3-menu .yui3-menu-label, .yui3-skin-sam .yui3-menuitem-content, .yui3-skin-sam .yui3-menu .yui3-menu .yui3-menuitem-content {
    padding: 4px 1em;
}
.yui3-skin-sam .yui3-menu-content, .yui3-skin-sam .yui3-menu .yui3-menu .yui3-menu-content {
	border: 1px solid #a40000;
}

.yui3-skin-sam .yui3-menu-label-active,
.yui3-skin-sam .yui3-menu-label-menuvisible,
.yui3-skin-sam .yui3-menu .yui3-menu .yui3-menu-label-active,
.yui3-skin-sam .yui3-menu .yui3-menu .yui3-menu-label-menuvisible,
.yui3-skin-sam .yui3-menuitem-active .yui3-menuitem-content,
.yui3-skin-sam .yui3-menu .yui3-menu .yui3-menuitem-active .yui3-menuitem-content {
	background: #a40000;
	color: white;
}
/** RedCMS Accordion styles */
.yui3-redcms-accordion-item {
    height:0;
    overflow: hidden;
}
.yui3-redcms-accordion-bd {
    font-weight: bolder;
    border-bottom: 2px groove grey;	
    padding: 4px;
    padding: 6px 24px;
}
.yui3-redcms-accordion-title {
    cursor: pointer;
    background: url(sprite.png) no-repeat scroll 6px -344px;
    padding: 6px 24px;
    display: block;
    margin:0;
    border-top: 1px solid lightgray;
    text-decoration: none;
    color: inherit;
}
.yui3-redcms-accordion-toggled {
    background: url(sprite.png) no-repeat scroll 5px -394px;
}
.yui3-redcms-accordion-title:hover {
	background-color: #eee
}
.yui3-redcms-accordion-item {
    margin: 0 12px;
}
.yui3-redcms-accordion-title .redcms-icon-user {
    background: transparent url(file-icons.png) 0 -350px no-repeat;
    width: 22px;
    height: 20px;
    float: left;
    margin-left: 3px;
    margin-top: -2px;
    margin-bottom: -2px;
}

/** RedCMS Conversation styles */
.redcms-conversation .redcms-conversation-title {
    background-color: #D1D8DF;
    padding: 6px 8px 5px;
}
.redcms-conversation-title img {
	float: left;
	margin: -4px 6px 0 0px;
}
.redcms-conversation .redcms-conversation-title h2 {
    margin: 0;
    color: black;
    font-weight: normal;
    font-style: italic;
    font-size: inherit;
}
.redcms-conversation .redcms-conversation-title h1 {
    margin: 0;
    font-weight: bolder;
    font-size: 100%;
    color: #1C5AA9;
}
.redcms-conversation .redcms-conversation-content {
    padding: 0px 5px 1px 63px;
}
.redcms-conversation .redcms-conversation-content:empty {
    padding: 0;
}
.redcms-conversation .redcms-conversation-footer {
    padding: 4px 8px;
    font-size: 11px;
    border-top: 1px solid lightgray;
}
.redcms-conversation .redcms-conversation-footer a {
    text-decoration: none;
}
.redcms-conversation .redcms-conversation-footer a:hover {
    text-decoration: underline;
}
.redcms-conversation .redcms-icon span {
    background: transparent url(conversation-sprite.png) no-repeat scroll 0 -1px;
    width: 48px;
    height: 46px;
    margin: -1px 9px -2px 5px;
    float: left;
}
.redcms-conversation .redcms-conversation-topicfield .redcms-icon span {
    background-position: 0 -180px;
}
.redcms-conversation .redcms-conversation-newsfield .redcms-icon span {
    background-position: 0 -116px;
}
.redcms-conversation .redcms-conversation-replyfield .redcms-icon span {
    background-position: 0 -61px;
}
.redcms-conversation > .redcms-conversation-fragment {
    /* border: 1px solid lightgray; */
    background: white;
    margin-bottom: 10px;
}
.redcms-conversation .redcms-conversation-hd {
    background: #D1D8DF; 
}
.redcms-conversation .redcms-conversation-fragment .redcms-conversation-fragment {
    margin: 10px 20px 10px 61px;
    border: 1px solid lightgray;
}

.redcms-conversation-replyfield .redcms-icon {
	display: none;
}
.yui3-redcms-conversation-reader .redcms-icon {
	display: inline-block;
	margin-left: -50px;    
	width: 42px;    padding-left: 8px;    
	padding-top: 15px;
}
.redcms-conversation-replyfield .redcms-conversation-title {
    background: none
}
.redcms-conversation-replyfield .redcms-conversation-title h1 {
	font-size: inherit
}
.redcms-conversation-replyfield .redcms-conversation-content {
	padding: 8px 5px 5px 54px;
}
.redcms-conversation-replyfield .redcms-conversation-footer {
    border: none;
}
/** Redcms Conversation Styles: reader */
.yui3-redcms-conversation-reader {
    border: 1px solid gray;
    margin: 0;
}
.yui3-redcms-conversation-reader-hd {
    font-weight: bolder;
    padding: 5px;
    background: #D1D8DF;
}

/** RedCMS Conversation styles :small icons */
.yui3-redcms-conversation-reader .redcms-icon span {
    background-image: url(conversation-sprite-small.png);
    height: 31px;
    width: 25px;
    margin: 0 0 0 4px;
}
/** RedCMS Icon Styles */
.redcms-icon span {
    float: left;
}
.redcms-icon-email span {
    background: transparent url(redcms-sprite.png) 0 -350px no-repeat;
    width: 25px;
    height: 25px;
    margin: 0 5px 0 0;
}

/** RedCMS Hierarchy display */
.redcms-bd-title {
    font-weight:bold;
}
.redcms-bd-title .redcms-bd-title-item {
    display: inline-block;
}
.redcms-bd-title .redcms-bd-title-separator {
    float:left;
}
.redcms-bd-title .redcms-bd-title-separator:after {
    content:"//";
    padding:0 3px;
}

/* Treeview */
.yui3-redcms-loading.yui3-redcms-treeview-content {
    font-size:0;
}
.yui3-js-enabled .yui3-treeview-hidden,
.yui3-js-enabled .yui3-treeview-loading {
    display: none;
}
.yui3-js-enabled .yui3-treenode {
    list-style: none;
}
.yui3-js-enabled .yui3-treenode-label {
	text-decoration: none;   
}

.yui3-js-enabled .yui3-treenode-collapsed .yui3-treenode-content {
    display: none;
}
.yui3-skin-sam .yui3-treeview li {
	margin: 0;
}
.yui3-skin-sam .yui3-treeview {
	font-size: 13px;
}

.yui3-skin-sam .yui3-treenode {
	background: url("treeview-sprite-filler.png") repeat-y scroll transparent;
}

.yui3-skin-sam .yui3-treenode.yui3-treenode-last {
	background: none;
}

.yui3-skin-sam .yui3-treenode .yui3-treenode-label {
	display: block;
	padding-top: 5px;
	background: url("treeview-sprite-ruler.gif") no-repeat scroll 0 -55px transparent;
}

.yui3-skin-sam .yui3-treenode.yui3-treenode-last > .yui3-treenode-label {
	background: url("treeview-sprite-ruler.gif") no-repeat scroll 0 -125px transparent;
}

.yui3-skin-sam .yui3-treeview a {
	color: #000000;
}

.yui3-skin-sam .yui3-treeview .yui3-treenode-content {
    padding-left: 22px;
}
/*
.yui3-skin-sam .yui3-treeview .yui3-treenode .yui3-treenode-label-content {
	font-weight: bold;
}

.yui3-skin-sam .yui3-treeview .yui3-treenode.yui3-treenode-leaf .yui3-treenode-label-content {
	font-weight: normal;
}*/

.yui3-skin-sam .yui3-treeview .yui3-treenode .yui3-treenode-toggle-control {
	background: url("treeview-sprite-control.gif") no-repeat scroll 0 -149px transparent;
	padding-left: 22px;
}

.yui3-skin-sam .yui3-treeview .yui3-treenode .yui3-treenode-toggle-control:hover {
	background-position: 0 -313px;
}

.yui3-skin-sam .yui3-treeview .yui3-treenode.yui3-treenode-collapsed .yui3-treenode-toggle-control {
	background: url("treeview-sprite-control.gif") no-repeat scroll 0 -67px transparent;
}

.yui3-skin-sam .yui3-treeview .yui3-treenode.yui3-treenode-collapsed .yui3-treenode-toggle-control:hover {
	background-position: 0 -231px;
}

.yui3-skin-sam .yui3-treeview .yui3-treenode.yui3-treenode-leaf .yui3-treenode-label {
	padding-left: 22px;
}


.yui3-skin-sam .yui3-treenode .yui3-treenode-label .yui3-checkboxtreenode-checkbox {
	padding-left: 20px;
}

.yui3-skin-sam .yui3-treenode .yui3-treenode-label .yui3-checkboxtreenode-checkbox.yui3-checkboxtreenode-checkbox-unchecked {
	background: url("treeview-checkboxes.gif") no-repeat scroll 0 -3px transparent;
}

.yui3-skin-sam .yui3-treenode .yui3-treenode-label .yui3-checkboxtreenode-checkbox.yui3-checkboxtreenode-checkbox-halfchecked {
	background: url("treeview-checkboxes.gif") no-repeat scroll 0 -66px transparent;
}

.yui3-skin-sam .yui3-treenode .yui3-treenode-label .yui3-checkboxtreenode-checkbox.yui3-checkboxtreenode-checkbox-checked {
	background: url("treeview-checkboxes.gif") no-repeat scroll 0 -131px transparent;
}

.yui3-skin-sam .yui3-treeview li a:hover {
	background-color: #eee !important; 
}
