@CHARSET "UTF-8";
/* Base styles */
input[type=submit] {
	padding: 3px 5px;
}

/* CSS shortcuts for RedCMS */
.redcms-clear {
	clear:both;
}
.redcms-center {
	text-align:center;
}
.redcms-hidden {
	display:none;	
}
/* Fluid Grids layout */
#redcms-layout {
	padding-left: 170px; /* allow for left column (#nav) */
}

#redcms-left {
	margin-left: -170px;
	position: relative;
	/* workaround for IE9 not firing mouse events on #side due to negative margin */
	width: 170px;
}

#redcms-left .content {
	margin-right: 10px; /* gutter between #nav and #main */
}
#redcms-bd {
	width:100%;
}

/* Default fieldset view */
fieldset {
	border: 2px groove #CCC;
	margin: 0.5em;
	padding: 0.8em;
	text-align: justify;
}
	
fieldset legend {
	font-weight: bold;
}

/* Overlay Window styles (base on YUI2) */
.yui3-skin-sam .yui3-overlay-window {
	border-style: solid;
	border-width: 1px;
	border-color: gray;
    background: white;
}
.yui3-skin-sam .yui3-overlay-window .yui3-widget-hd {
	padding: 0 10px;
	background: url(sprite.png) repeat-x 0 -200px;
	border-bottom: solid 1px #CCC;
	line-height: 2;
	font-size: 93%;
}
.yui3-skin-sam .yui3-overlay-window .yui3-widget-bd {
	padding:10px;
	overflow:auto;
}
.yui3-skin-sam .yui3-overlay-window .yui3-overlay-close {
	position: absolute;
	top: 5px;
	right: 6px;
	width: 25px;
	height: 15px;
	background: url(sprite.png) no-repeat 0 -300px;
	cursor: pointer;
}

.yui3-skin-sam .yui3-dd-draggable .yui3-widget-hd {
	cursor:move;
}

/* Overlay Modal styles */
.yui3-overlay-mask {
    background: black;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
body { 
	_height: 100%; /* better IE6 support */
}


/* RedCMSForm styles */
/*
.yui3-skin-sam .yui3-form .yui3-form-field {
	clear:both;
}*/

.yui3-skin-sam .yui3-form .yui3-form-field .yui3-g {
    padding-left:100px; /* "left col" width */ 
}
.yui3-skin-sam .yui3-form .yui3-form-field .yui3-form-label {
    margin-left:-100px; /* "left col" width */
    width:100px;
	text-align: right;
	/*margin-right: 3px;*/
}
.yui3-skin-sam .yui3-form .yui3-hidden-field {
	display:none;
}
.yui3-skin-sam .yui3-form .yui3-textarea-field textarea{
	width:100%;
	height: 80px;
}
.yui3-skin-sam .yui3-form .yui3-form-field .yui3-form-input {
	width:100%;
}
.yui3-skin-sam .yui3-form .yui3-form-field .yui3-form-invalid .yui3-form-label label {
	background: transparent url(error.gif) no-repeat scroll 0 1px;
	padding-left: 20px;
	color: #C00E0C;
	font-weight: bold;
}
.yui3-skin-sam .yui3-form .yui3-form-field .error {
	/*display: block;*/
	display:none;
	clear: both;
	padding-left: 100px;
	color: red;
}
.yui3-skin-sam .yui3-form .yui3-submit-button {
	padding-left: 100px;
}

/* RedCMS MsgBox styles */
.yui3-skin-sam .yui3-redcms-msgbox {
	border: 1px outset gray;
	padding: 15px 10px 10px 60px;
	margin-bottom: 10px;
	min-height: 33px;
}
.yui3-skin-sam .yui3-redcms-msgbox-error {
	background: #F2F2F2 url(icon-error-48.png) no-repeat scroll 5px 5px;
}
.yui3-skin-sam .yui3-redcms-msgbox-success {
	background: #F2F2F2 url(icon-success-48.png) no-repeat scroll 5px 5px;
}
.yui3-skin-sam .yui3-redcms-msgbox-warning {
	background: #F2F2F2 url(icon-warning-48.png) no-repeat scroll 5px 5px;
}
.yui3-skin-sam .yui3-redcms-msgbox-hidden {
	display:none;
}

/* Context menu styles */
.yui3-skin-sam .yui3-contextmenu-hidden {
	display:none;
}
/* Loading style */
.yui3-skin-sam .yui3-redcms-loading,
.yui3-skin-sam .yui3-overlay-window  .yui3-redcms-loading {
	background: lightGrey url(loading.gif) no-repeat scroll 50% 60%;
	min-height: 30px;
	height: 100px;
}


/* Admin Menu */
.yui3-skin-sam #ft .yui3-redcmsnavmenu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

/* Tree View Default skin */
.yui3-treeview {
    margin:0;
    padding:0;
    margin-left: 10px;
    list-style:none;
    zoom: 1;
}

.yui3-js-enabled .yui3-treeview-loading {
    display:none;
}

.yui3-treeview .yui3-treeview {
    border-left: 1px solid #ebebeb;
}

.yui3-toggle {
    background-position: -6px -285px;
    display: block;
    position: absolute;
    height: 9px;
    width: 9px;
    bottom: 0px;
    left: -5px;
}

.yui3-tree-collapsed .yui3-treeview-label-content {
    background-position: -0px -81px;
}

.yui3-treeview-label-content {
    background-position: 0px -121px;
    display : block;
    position : relative;
    left : -5px;
    padding-left : 35px;
    top : 5px;
}

.yui3-treeview .yui3-singletree {
    border: none;
}

.yui3-treeleaf-content,
.yui3-treeleaf,
.yui3-treeview .yui3-treeview-content .yui3-treeview,
.yui3-treeview-label-content
{
    background-image: url(tree_view_icons_blue_01_arrow_beside_folders.gif);
    background-repeat: no-repeat;
}

.yui3-treeview-treelabel {
    display: block;
    position: relative;
    margin-left: -1px;
    margin-top: 2px;
    text-decoration: none;
    color: black;
    border-left: 1px solid #EBEBEB;
}

.yui3-treeview .yui3-tree-collapsed .yui3-treeview-content {
    display : none;
}

.yui3-treeview .yui3-treeview-content {
    padding-bottom: 3px;
    margin-left: 6px;
}

.yui3-treeview .yui3-treeview-content .yui3-treeview {
    background: none;
}

.yui3-treeview .yui3-treeleaf {
    background-position: 0 -258px;
    margin-bottom: -7px;
    border: none;
    padding-top: 10px;
}

.yui3-treeleaf-content {
    background-position: 0 -162px;
    padding-left: 35px;
    margin-left: 4px;
    text-decoration: none;
}

/* TreeView Custom Styles */
.yui3-redcms-treeview-content {
	padding-bottom:10px;
}
ul, dl {
	margin:0;
}
ul li {
	list-style: none;
}

/** ToolTip Styles **/
.redcms-tooltip-content {
	display:none;
}
.yui3-redcms-tooltip {
	position:absolute;
}
.yui3-redcms-tooltip-content {
	border: groove 1px;
	padding: 3px;
	background: lightGrey;
}
.yui3-redcms-tooltip img {
	max-width: 200px;
}
.yui3-redcms-tooltip-hidden {
	visibility:hidden;
}
/** MenuNav styles */
.yui3-skin-sam .yui3-menuitem-content, 
.yui3-skin-sam .yui3-menu .yui3-menu .yui3-menuitem-content {
	cursor:pointer;
}

/** YUI2 Editor styles **/
.yui-skin-sam .yui-toolbar-container .yui-toolbar-titlebar {
	display:none;	
}


/** RedCMS Conversation styles */
.redcms-conversation {
	width: 99%;
	margin: 10px 0;
	background: white;
	border: 2px groove gray;
}
.redcms-conversation .redcms-conversation-title {
	background-color: #D1D8DF;
}
.redcms-conversation .redcms-conversation-title h2 {
	margin: 0;
	color: black;
	font-weight: normal;
	font-style: italic;
	font-size: inherit;
}
.redcms-conversation .redcms-conversation-title h1 {
	margin: 0;
	font-weight: bolder;
	font-size: 18px;
	color: #1C5AA9;
}
.redcms-conversation .redcms-icon span {
	background: transparent url(conversation-sprite.png) no-repeat scroll 0 0;
	width: 48px;
	height: 46px;
	margin: 7px 5px 0;
	float: left;
}
.redcms-conversation .redcms-conversation-topicfield .redcms-icon span {
	background: transparent url(conversation-sprite.png) no-repeat scroll 0 -180px;
}
.redcms-conversation .redcms-conversation-newsfield .redcms-icon span {
	background: transparent url(conversation-sprite.png) no-repeat scroll 0 -121px;
}
.redcms-conversation .redcms-conversation-replyfield .redcms-icon span {
	background: transparent url(conversation-sprite.png) no-repeat scroll 0 -61px;
}
.redcms-conversation > .redcms-conversation-fragment {
	border-bottom: 1px solid gray;
	padding-bottom: 5px;
}
.redcms-conversation .redcms-conversation-fragment .redcms-conversation-fragment {
	margin: 10px 0 10px 40px;
}