/**
 *
 */
a {
	color: #a40000;
}
.redcms-hd {
	color: #a40000; 
	text-align: center; 
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-size: 36px;
	letter-spacing: -0.1px;
	margin-top: 16px;
	margin-bottom: 9px;
	/* text-align: center; */
}
.redcms-logo {
	background: url(redagent-logo.png) no-repeat;	
	width: 42px;
	height: 50px;
	display: inline-block;
	margin-top: -11px;
	vertical-align: bottom;
}
.redcms-bd .redcms-bd-title {
	border: solid 1px #a40000; 
	color: #a40000;
	border-bottom: none;
	padding: 9px 8px 6px;
}
.redcms-bd .redcms-bd-content {
	/* padding-top: 0; */
	/* padding-bottom: 0; */
}
.redcms-ft .redcms-ft-content {
	color: #a40000;
	padding: 5px 0;
}
hr {
	border: 1px solid #a40000
}
.redcms-bd .redcms-bd-content {	
    border: solid 1px #a40000;
    padding: 20px;
}
.yui3-redcms-conversation-reader {
	border: 1px solid #a40000;
	border: none;
	border-left: 1px solid #a40000;
	min-height: 352px;
}
.yui3-redcms-conversation-reader-item {
	border: none !important;
}
.redcms-conversation .redcms-conversation-footer {
	border-top:1px solid #a40000;
}
.redcms-conversation .redcms-conversation-hd {
	border-bottom: 1px solid #a40000;
}
.yui3-redcms-conversation-reader-hd {
	padding: 10px;
}
.yui3-redcms-button {
	background: lightgray;
	border: none;
}
.yui3-redcms-button:hover {
	background: #ccc;
}
.yui3-redcms-button span {
	border: none;
}
.yui3-redcms-button span a {
	/* color: white; */
}

.yui3-menuitem-current {
	background: #a40000;
	color: white !important;
}