body {
	font-family: Arial;
	font-size: 10.5pt;
	font-variant: normal;
	font-weight: normal;
	line-height: normal;
	font-size-adjust: none;
	font-stretch: normal;
}

a {
	color: #2662AD;
}

a:hover {
	color: #487bba;
}

h1 {
	font-weight: bolder;
	font-size: 18px;
	color: #1C5AA9;
}

h2 {
	font-weight: bold;
	font-size: 15px;
	color: #1C5AA9;
	margin-bottom: -0.5em;
}

h3 {
	font-weight: bold;
	font-size: 13px;
	color: #4989E0;
}


/** Layout Styles */
.redcms-layout { /* allow for left column (#nav) */
	padding: 7px 8px 7px 296px;
}
.redcms-left {
	margin-left: -290px;
	position: relative;
	/* workaround for IE9 not firing mouse events on #side due to negative margin */
	width: 290px;
}
.redcms-left .redcms-content {
	margin: 0;
}
.redcms-bd {
	/* background-color: #E3EBF4; */
}


.redcms-bd .redcms-bd-content {
	min-height: 251px;
	padding: 13px 12px;
	border:none;
	border-left: 2px solid black;
	border-right: 2px solid black;
	text-align: justify;
}

/** Menu Styles */
.redcms-left .yui3-menu-bd {
	background: transparent url(smag-menu-title-principal.gif) no-repeat;
	height: 48px;
}

.redcms-left .smag-members .yui3-menu-bd {
	background: transparent url(smag-menu-title-membres.gif) no-repeat;
}
.yui3-skin-sam .redcms-left .yui3-menu-ft {
	background: transparent url(smag-menu-back.gif) no-repeat;
	height: 19px;
}
.yui3-skin-sam .redcms-left .yui3-menu-content {
	background: transparent url(smag-menu-foot.gif) repeat-y;
}
.yui3-skin-sam .redcms-left .yui3-menu-content, .yui3-skin-sam  .redcms-left .yui3-menu .yui3-menu .yui3-menu-content {
	border: none;
}
.yui3-skin-sam .redcms-left .yui3-menu-label, .yui3-skin-sam .yui3-menu .yui3-menu .yui3-menu-label {
	background: none;
}

.yui3-skin-sam .redcms-left .yui3-menu-label-active,
.yui3-skin-sam .redcms-left .yui3-menu-label-menuvisible,
.yui3-skin-sam .redcms-left .yui3-menu .yui3-menu .yui3-menu-label-active,
.yui3-skin-sam .redcms-left .yui3-menu .yui3-menu .yui3-menu-label-menuvisible,
.yui3-skin-sam .redcms-left .yui3-menuitem-active .yui3-menuitem-content,
.yui3-skin-sam .redcms-left .yui3-menu .yui3-menu .yui3-menuitem-active .yui3-menuitem-content {
	background-color:white;
	color: black;
}
.yui3-skin-sam .redcms-left .yui3-menu-label-active:after,
.yui3-skin-sam .redcms-left .yui3-menu-label-menuvisible:after,
.yui3-skin-sam .redcms-left .yui3-menu .yui3-menu .yui3-menu-label-active:after,
.yui3-skin-sam .redcms-left .yui3-menu .yui3-menu .yui3-menu-label-menuvisible:after,
.yui3-skin-sam .redcms-left .yui3-menuitem-active .yui3-menuitem-content:after,
.yui3-skin-sam .redcms-left .yui3-menu .yui3-menu .yui3-menuitem-active .yui3-menuitem-content:after {
	content: url(smart-clipart-syringue-2-i.gif);
	position:absolute;
	top: 0;
	left: -9px;
	width: 20px;
	height: 20px;
	display: block;
	z-index: 1;
}
.yui3-skin-sam .redcms-left .yui3-menu-label, 
.yui3-skin-sam .redcms-left .yui3-menu .yui3-menu .yui3-menu-label, 
.yui3-skin-sam .redcms-left .yui3-menuitem-content, 
.yui3-skin-sam .redcms-left .yui3-menu .yui3-menu .yui3-menuitem-content {
	padding: 3px 20px 2px 35px;
	margin: 0;
	/* font-size: 104%; */
	font-size: 96%;
	/* overflow: visible; */
	position: relative;
}

/** Header */
.smag-header {
	padding: 5px;
	border: 2px solid black;
	border-bottom: none;
	background: #E3EBF4;
}
.smag-header > div {
	background: transparent url(sprite-smag.png) repeat scroll 0 -100px;
}
.smag-header .smag-header-left {
	float: left;
	display: block;
	height: 63px;
	width: 95px;
	background: transparent url(smag-banner-logo.gif);
}
.smag-header .smag-header-right {
	float: right;
	display: block;
	height: 63px;
	width: 485px;
	background: transparent url(smag-banner-img.jpg);
}
/* Footer */
.smag-footer {
	border-left: 2px solid black;
	background: #E3EBF4;
}
.smag-footer-content {
	float: right;
}
.smag-footer-left {
	float: left;
	width: 13px;
	height: 16px;
	/* background: transparent url(sprite-smag.png) no-repeat scroll 0 -60px; */
	background: white;
	border: 2px solid black;
	border-top-left-radius: 20px;
	border-right: none;
}
.smag-footer-center {
	float: left;
	height: 14px;
	/* background: transparent url(sprite-smag.png) repeat scroll 0 -80px; */
	font-size: 11px;
	font-style: italic;
	padding-right: 5px;
	padding-top: 2px;	
	border: 2px solid black;
	background: white;
	border-left: none;
	border-right: none;
}

.smag-subfooter {
	border: 2px solid black;
	border-top: none;
	height: 6px;
	background: #E3EBF4;
}

/* Hierarchy */
.redcms-bd .redcms-bd-title {
	padding: 0;
	background: #E3EBF4;
	border: none;
	border-right: 2px solid black;
	vertical-align: top;
	/* margin-top: 4px; */
}
.redcms-bd .redcms-bd-title +div {
	background: #E3EBF4;
}

.redcms-bd .redcms-bd-title-content {
	background: transparent url(sprite-smag.png) repeat scroll 0 -30px;
	float: left;
	display: inline-block;
}
.redcms-bd .redcms-bd-title-item {
	float: left;
	height: 20px;
	font-size: 12px;
	font-style: italic;
	font-weight: bold;
	padding: 6px 0px 0px 3px;
	height: 20px;
}
.redcms-bd .redcms-bd-title-separator {
	float: left;
	width: 20px;
	height: 26px;
	background: transparent url(sprite-smag.png) no-repeat scroll 0 0;
}
.redcms-bd-title .redcms-bd-title-separator:after {
	content:"";
	padding:0;
}
.redcms-bd-title-right {
	float: left;
	width: 20px;
	height: 22px;
	/* background: transparent url(sprite-smag.png) no-repeat scroll 0 0; */
	border: 2px solid black;
	border-left: 0;
	border-bottom-right-radius: 70px;
	display: inline-block;
	padding: 0;
	background: white;
}

/** RedCMS Conversation styles */
.redcms-conversation .redcms-conversation-title {
	background: #c8d7ea;
}

/** Redcms Conversation Styles: reader */
.yui3-redcms-conversation-reader {
	border: 2px solid black;
	margin: 0;
}
.yui3-redcms-conversation-reader-hd {
	background: #c8d7ea;
}
